/* MIX */
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.list-inline {
  list-style: none;
}
.list-inline  li {
  display: inline-block;
}

/* HEADER */

/* header top */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background-color: #fff;
  line-height: 70px;
  font-size: 0.7rem;
}

.logo {
  height: 12px;
}

.main-menu {
  text-align: right;
}
.main-menu li {
  padding-right: 30px;
}
.main-menu li a {
  color: #000;
}

.side-menu {
  text-align: right;
}
#language{
  color: #000;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 0 5px;
}

.btn {
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.hamburger-icon {
  float: right;
  line-height: 70px;
  font-size: 1.4rem;
}

/* Hero */
.hero {
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
}

.hero-text h1{
  font-size: 3rem;
  font-weight: bold;
}

.hero-text p{
  margin: 20px 0;
}

.logo-apple, .logo-google{
  width: 13%;
}

.logo-apple{
  margin-right: 15px;
}

.logo-google{
  margin-left: 15px;
}


/* sezione prodotti */

#product-section{
  margin: 80px 0;
}

.product{
  padding: 50px;
  background-color: #fafafa;
  text-align: center;
}

.product-logo{
  width: 30%;
}

.product h3{
  margin: 30px 0;
  font-weight: normal;
}

.product a{
 color: #0093db;
}

.product-img{
  width: 80%;
}

/* sezione mobile */

#helbiz-mobile{
  height: 625px;
  margin-bottom: 80px;
  background-image: url(../img/sezione-mobile.png);
}

/* sezione banner */

.banner-top{
  position: relative;
  height: 625px;
  background-image: url(../img/scooter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scooter-text{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.scooter-text-wrapper{
  width: 70%;
}

.scooter-text h2{
  font-size: 3rem;
  font-weight: bold;

}
.scooter-text h3{
  margin: 25px 0;
  font-size: 1.3rem;
  font-weight: normal;
}
.scooter-text a{
  font-size: 1.3rem;
  color: #fff;
}

.banner-bottom{
  margin: 80px 0;
}

.vertical-banner{
  text-align: center;
  color: #fff;
  padding-right: 20px;
}

.vertical-banner a{
  color: #fff;
}

.vertical-banner-wrapper.left{
  background-color: darkgrey;

}

.vertical-banner-wrapper.right{
  padding-left: 20px;
}
